:root {
  --color-heading: #0b0d19;
  --color-body: #677386;
  --color-bg-button: #3d7bfa;
  --color-text-button: #fff;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

/* Begynd her... */
h1 {
  font-size: 5rem;
}

p {
  font-size: 1rem;
}

.btn {
  background-color: #3d7bfa;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
}

.btn :hover {
  color: #677386;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-content {
  gap: 20px;
  padding: 20px;
  padding-top: 100px;
}

.grid-galleri {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  border-radius: 0.75em;
  align-self: stretch;
  object-fit: cover;
}

img {
  border-radius: 0.75em;
  align-self: stretch;
  object-fit: cover;

  &:nth-child(1),
  &:nth-child(7) {
    grid-column: (2);
  }

  &:nth-child(2) {
    grid-column: 1;
  }
  &:nth-child(3) {
    grid-row: span 2;
  }
}
