---
const { cardContent } = Astro.props;
---


<ul class="full-width">
  {
    cardContent.map((card) => (
      <li>
        <h3>{card.title}</h3>
        <p>{card.body}</p>
      </li>
    ))
  }
</ul>

<style>
  main {
  padding-block: 4rem;
  display: grid;
  grid-template-columns:
    [full-start]
    1fr
    [content]
    minmax(0, var(--content-width))
    1fr
    [full-end];
  column-gap: 1rem;
  
  > * {
    grid-column: 2;
  }
  
  .full {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: inherit;
    row-gap: 3rem;
    
    > * {
      grid-column: 2;
    }
    
    > ul {
      scroll-snap-type: x mandatory;
      grid-column: 1 / -1;
      padding-inline: max(1rem, 50% - var(--content-width) / 2);
      padding-block-end: 1rem;
      
      li {
        scroll-snap-align: center;
      }
    }
  }
}
  
  
  
  
  
  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    overflow-x: auto;

    li {
      flex-basis: min(400px, 90%);
    flex-shrink: 0;
    background: #EBEBEB;
    color: #595566;
    border-radius: 8px;
    font-size: 1rem;
    padding: 2.75rem 2.1875rem;
    align-self: start;
    }
  }

  header{
    max-width: fit-content;
    margin: 100px;
    font-size: 3rem;
    color: red;

  }

  h3 {
font-size: 2rem;

  }
</style>
