---
const { cardContent } = Astro.props;
---


<ul class="full-width">
  {
    cardContent.map((card) => (
      <li>
        <h3>{card.title}</h3>
        <p>{card.body}</p>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    overflow-x: auto;

    li {
      background: #EBEBEB;
    color: #595566;
    border-radius: 8px;
    font-size: 1rem;
    padding: 2.75rem 2.1875rem;
    }
  }

  header{
    max-width: fit-content;
    margin-top: 100px;
    font-size: 3rem;

  }

  h3 {
font-size: 2rem;

  }
</style>
